<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <a href="https://www.instagram.com/its_lucifer_.morningstar?igsh=OGQ5ZDc2ODk2ZA==" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
      <a href="https://github.com/Saifmalik2004" target="_blank"><i class="fa-brands fa-square-github"></i></a>
    <a href="https://www.linkedin.com/in/saif-malik78/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
    </div>
    <div class="f-info-brand">&copy;Wanderlust Private Limited</div>
  <div class="f-info-links">
    <a href="#">Privacy </a>
    <a href="#">Terms</a>
  </div>
  </div>
  
</footer>
